extends ../layout

block content
  h1 Books

  a(href="/books/new") New Book

  table.table.table-striped
      thead
        tr
          th ID
          th Title
          th Genre
          th Author

      tbody
        for book in allBooks
          tr
            td= book.id
            td
              a(href='/books/' + book.id)= book.title
            td= book.genre
            td=book.first + ' ' + book.last
