extends ../layout

block content
  h1 New Book

  form(action="/books", method="post")
    div
      div Author
        input(type="text" name="book_author")

      div Title
        input(type="text" name="book_title")

      div Genre
        input(type="select" name="book_genre")
          option Fiction
          option Non-fiction
          option Biography
          option Fan-fiction

      div
        input(type="submit")
