extends ../layout

block content
  h1 New Book

  form(action="/books", method="post")
    div
      div Author
        input(type="text"
        author="author_name")

      div Title
        input(type="text"
        name="book_name")

      div
        input(type="submit")
