extends ../layout

block content
  h1= theBook.title
  h2= theBook.author


  form(action='/books/' + theBook.title + '?_method=delete' method="POST")
    div
      a(href="/books/" + theBook.id + '/update') Edit
    div
      button(type="submit" value="Delete") Delete
