extends ../layout

block content
  .container
    h1= theBook.title
    .col-md-6
      img.img-responsive(src= theBook.url, alt='Book Image')
    .col-md-6
    for author in authors
      p= author.first + ' ' + author.last 
    
    p= theBook.description


    form(action='/books/' + theBook.id + '?_method=delete' method="POST")
      div
        a.btn.btn-primary(href="/books/" + theBook.id + '/update').button Edit

        button.btn.btn-primary(type="submit" value="Delete").button Delete
        
        a.btn.btn-primary(href="/books/").button Back to Books
