extends layout

block content
  .container
    h1 Welcome to Galvanize Reads
    .row
      .col-md-6
          .col-md-12
            img(src='http://i.imgur.com/Wvi1eyk.jpg', alt='books')
          .col-md-12
            a.btn.btn-primary.btn-md.btn-block(href='/books', role='button').button Books
      .col-md-6
          .col-md-12
            img(src='http://i.imgur.com/bcqreOK.jpg', alt='books')
          .col-md-12
            a.btn.btn-primary.btn-md.btn-block(href='/authors', role='button').button Authors

      .row
        .col-md-12.text-center.footer
          p
            small © Read Books and Be Happy.
        .col-md-12.text-center
          p
            small Made with Love in Seattle.
