extends ../layout

block content
  h1 authors

  a(href="/authors/new") New Author

  table.table.table-striped
      thead
        tr
          th ID
          th Author


      tbody
        for author in allAuthors
          tr
            td= author.id
            td= author.first
