extends ../layout

block content
  .container
    h1 New Author

    form(action='/authors', method='post')
        .row
          .col-md-12
            fieldset.form-group
              label(for='authorFirst') Author First Name
              input.form-control(type='text', name='author_first')
          .col-md-12
            fieldset.form-group
              label(for='authorLast') Author Last Name
              input.form-control(type='text', name='author_last')
          .col-md-12
            fieldset.form-group
              label(for='authorBio') Author Bio
              input.form-control(type='text', name='author_bio')
          .col-md-12
            fieldset.form-group
              label(for='authorLast') Author URL
              input.form-control(type='text', name='author_url')
          .col-md-12
            button.btn.btn-default.btn-primary(type='submit') Submit
        
        
