extends ../layout

block content
  .container
    img.img-responsive(src=theAuthor.url, alt='Responsive image')
    h1= theAuthor.first + ' ' + theAuthor.last
    p= theAuthor.bio


    form(action='/authors/' + theAuthor.id + '?_method=delete' method="POST")
      div
        a.btn.btn-primary(href="/authors/" + theAuthor.id + '/update') Edit

        button(type="submit" value="Delete") Delete

      a.btn.btn-primary(href='/authors/new', role='button') New Author
