extends ../layout

block content
  .container
    img.img-responsive(src=theAuthor.url, alt='No Author Image Available')
    h1= theAuthor.first + ' ' + theAuthor.last
    p= theAuthor.bio


    form(action='/authors/' + theAuthor.id + '?_method=delete' method="POST")
      div
        a.btn.btn-primary(href="/authors/" + theAuthor.id + '/update').button Edit

        button.btn.btn-primary(type="submit" value="Delete").button Delete
        
        a.btn.btn-primary(href="/authors/").button Back to Authors
