extends ../layout

block content
  h1 Update Author

  form(action='/authors/' + theAuthor.id + '/update?_method=put' method="post")
    div
      div Author First Name
        input(type="text" name="author_first" value= theAuthor.first)
      div Author Last Name
        input(type="text" name="author_last" value= theAuthor.last)
      div Author Bio
        input(type="text" name="author_bio" value= theAuthor.bio)
      div Author URL
        input(type="text" name="author_url" value= theAuthor.url)
      
    div
      input(type="submit")
